@import "base/base"
    
@import "sections/header"
@import "sections/home"
@import "sections/about"
@import "sections/resume"

.main-content 
    padding-left: 250px
    position: relative
    z-index: 2

@media screen and (max-width: 1024px)
    .main-content
        padding: 0

