.resume
    z-index: 20
    padding: 5rem 0 0 0 
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    &__title
        position: relative

    &__content
        margin-top: 1rem
        padding: 2rem 0
        display: flex
        flex-wrap: wrap
        justify-content: center
        width: 100%
        max-width: 1140px

        @media screen and (max-width: 1024px)
            max-width: 680px

.skills-wrap
    padding: 1rem
    width: 100%
    max-width: 50%

    .skills
        padding: 1rem
        background: #ffffff
        box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1)

        .skills__title
            padding: 5px
            border-bottom: 1px solid rgba(0,0,0, .2)

        li
            margin: 20px 0

        label
            display: inline-block
            min-width: 100px
            color: #555
            font-weight: 600
            

.line
    position: relative
    overflow: hidden
    margin: 5px 0
    border-radius: .25rem
    width: 100%
    height: 1rem
    background: rgba(0, 0, 0, .1)

    &::before
        content: ""
        position: absolute
        top: 0
        left: 0
        height: 1rem
        background: #4285f4

.russian-line

    &::before
        width: 90%

.english-line

    &::before
        width: 60%

.japanese-line

    &::before
        width: 10%

@media screen and (max-width: 1024px)
    .skills-wrap
        max-width: 100%
        